#case sensitive

#PORT --- serial port name
#BAUD --- Baud rate 19200, 38400, 57600, 115200, 230400 supported.
#      	  Any other baud rate will be set to 38400

PORT	      	    /dev/USB0
BAUD	      	    38400
RAW_LOG	      	    raw_log
PACKET_LOG    	    packet_log
BAD_PACKET_LOG	    bad_packet_log
DATA_LOG	    valid_data_log