#do not change the order of parameters
#case sensitive

#PORT --- serial port name
#BAUD --- Baud rate 19200, 38400, 57600, 115200, 230400 supported.
#      	  Any other baud rate will be set to 38400
#P_LOG --- packets log
#C_LOG --- command log
#D_LOG --- data log

PORT	/dev/ttyS64
BAUD	38400
P_LOG	ttyS64_packets_log
C_LOG	command_log
D_LOG	data_log
